<div class="movie-container">
  <h1><i class="fas fa-film"></i>
  <%= @list.name %></h1>
  <h5>Bookmarks</h5>
  <div class="<%= @list.bookmarks.length < 3 ? "movies" : "movies-more-than4"%>">

    <% @list.bookmarks.each do |bookmark| %>
      <div class="carte">
        <img src="<%= bookmark.movie.poster_url %>" >
        <%= bookmark.movie.title %>
        <br>
        <%= bookmark.movie.overview %>
        <br>
        <%= bookmark.comment%>
        <div class="btn">
          <%= link_to bookmark_path(bookmark), method: :delete, data: {confirm: "Are u sure?"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="add-bookmark">
    <h2>New Bookmark</h2>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit 'Save bookmark', class: "btn btn-primary" %>
    <% end %>
  </div>
<%= link_to "Back to lists", lists_path, class: "btn btn-danger" %>
</div>
