<div class="container">
  <%= link_to "Back to #{@list.name}",
              list_path(@list),
              class: "btn btn-danger btn-sm mt-3"%>
  <h1>New Bookmark</h1>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit 'Save bookmark', class: "btn btn-primary" %>
  <% end %>


</div>
